/// A placeholder that will automatically center a block element horizontally
///
/// @access public
/// @group responsive

%margin-center {
    margin: {
        left: auto;
        right: auto;
    }
}

/// The width of the website at all of the given breakpoints
///
/// @access public
/// @group responsive

%container {
    @extend %margin-center;

    // An amount of pixels removed from the container width in order to make up for the
    // horizontal space added by scrollbars
    $_correction: 30px;

    width: 100%;

    @each $bp in map-slice(map_keys($breakpoints), 2) {
        @include respond-up($bp) {
            width: map-get($breakpoints, $bp) - $_correction;
        }
    }
}
