/// The width of the website at all of the given breakpoints
///
/// @access public
/// @group responsive

%container {
    // An amount of pixels removed from the container width in order to make up for the
    // horizontal space added by scrollbars
    $_correction: 30px;

    margin: {
        left: auto;
        right: auto;
    }
    padding: {
        left: 15px;
        right: 15px;
    }
    width: 100%;

    @include respond-up(nth(map-keys($breakpoints), 2)) {
        padding: {
            left: 0;
            right: 0;
        }
    }

    @each $bp in map-slice(map_keys($breakpoints), 2) {
        @include respond-up($bp) {
            width: map-get($breakpoints, $bp) - $_correction;
        }
    }
}
