%rocks-container-margin {
    margin-left: $rocks-gutter / -2;
    margin-right: $rocks-gutter / -2;
}

///
///
/// @access private

%rocks-column-padding {
    padding-left: $rocks-gutter / 2;
    padding-right: $rocks-gutter / 2;
}

@mixin rocks-container-margin($gutter) {
    @if $gutter == $rocks-gutter {
        @extend %rocks-container-margin;
    }
    @else {
        margin-left: $gutter / -2;
        margin-right: $gutter / -2;
    }
}

@mixin rocks-column-padding($gutter) {
    @if $gutter == $rocks-gutter {
        @extend %rocks-column-padding;
    }
    @else {
        padding-left: $gutter / 2;
        padding-right: $gutter / 2;
    }
}

@mixin make-flex-container($gutter: $rocks-gutter) {
    @include rocks-container-margin($gutter);

    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
}

@mixin make-float-container($gutter: $rocks-gutter) {
    @include clearfix();
    @include rocks-container-margin($gutter);
}

/// A mixin specify the amount of columns an element should take up
///
/// @param {String} $viewSize Accepted values: xs, sm, md, lg, xl, xxl
/// @param {Number [unitless]} $columns
///   Specifies the number of columns an element should span.
///
/// @example scss - SCSS Equivalent
///   @include span-columns($columns);

@mixin make-flex-columns($viewSize, $columns, $gutter: $rocks-gutter) {
    @include rocks-column-padding($gutter);
    @include respond-up($viewSize) {
        $_flex: percentage($columns / $rocks-columns);

        flex-basis: $_flex;
        max-width: $_flex;
    }
}

@mixin make-float-columns($viewSize, $columns, $gutter: $rocks-gutter) {
    @include rocks-column-padding($gutter);
    @include respond-up($viewSize) {
        float: left;
        width: percentage($columns / $rocks-columns);
    }
}

/// A mixin specify the amount of columns an element should take up
///
/// @param {String} $viewSize Accepted values: xs, sm, md, lg, xl, xxl
/// @param {Number [unitless]} $columns
///   Specifies the number of columns an element should span.
///
/// @example scss - SCSS Equivalent
///   @include span-columns($columns);

@mixin offset-columns($viewSize, $columns, $gutter: $rocks-gutter) {
    @include respond-up($viewSize) {
        margin-left: percentage($columns / $rocks-columns);
    }
}
