.jumbotron {
    margin-bottom: 30px;
    padding: 100px 0;
    text-align: center;

    &.landing-page {
        background: rgba(180,224,240,1);
        background: linear-gradient(to right, $Color-LightBlue 0%, $Color-LightGreen 100%);

        svg {
            fill: $Color-DarkGreen;
            height: 125px;
            margin-bottom: 30px;
            transform: rotate(30deg);
            width: 100px;
        }
    }

    h1, h2 {
        color: #68927D;
        font-family: $Font-SansSerif;
        font-weight: 300;
        margin-top: 0;
    }

    h1 {
        margin-bottom: 5px;
    }

    h2 {
        font-size: 20px;
        margin-bottom: 0;
    }
}
