.markdown {
	h1 {
		font-size: modular-scale(2);
		margin-bottom: 30px;
	}

	h2 {
		font-size: modular-scale(1);
		margin-bottom: 30px;
	}

	pre {
		background-color: #DFDFDF;
		font-family: monospace;
		padding: 5px 10px;

		code {

		}
	}
}