@function calculate-width($columns, $gutter) {
    $gutter-total: $gutter * ($rocks-columns - 1);
    $individual-column-width: ($rocks-width - $gutter-total) / $rocks-columns;

    @return ($columns * $individual-column-width) + ($gutter * ($columns - 1));
}

@mixin make-container() {
    @include display(flex);
    @include flex(0 1 auto);
    @include flex-direction(row);
    @include flex-wrap(wrap);
}

@mixin make-columns($columns, $gutter: $rocks-gutter) {
    @if ($columns == $rocks-columns) {
        $gutter: 0;
    }

    $flex: calculate-width($columns, $gutter);

    @include flex-basis($flex);

    max-width: $flex;
    margin-right: $gutter;

    &:last-child {
        margin-right: 0;
    }
}

@mixin offset-columns($columns, $gutter: $rocks-gutter) {
    margin-left: calculate-width($columns, $gutter) + $gutter;
}
