header {
	background-color: $Color-DarkGrey;
	color: $Color-LightGrey;
	padding: 15px 0;

	nav {
		@extend %wrapper;

		@include display(flex);

		h1 {
			color: $Color-White;
			font-size: 20px;
		}

		ul {
			@include flex(1);

			list-style: none;
			text-align: right;

			li {
				display: inline-block;
				padding-right: 30px;

				&:last-child {
					padding-right: 0;
				}
			}
		}
	}
}