---
layout: default
permalink: /
---

<section class="jumbotron landing-page">
    {% include assets/logo.svg %}

    <h1>Another Sass Grid System</h1>
    <h2>I know, yet another one...</h2>
</section>

<div class="container">
    <h2>On The Rocks</h2>
    <p>This is an alternative to <a href="http://neat.bourbon.io/">Neat</a> and <a href="http://susy.oddbird.net/">Susy</a> built with flex boxes (using floats is supported too).</p>
</div>

<div class="container">
    <h2>We look like every other system</h2>

    <div class="sandbox">
        <div class="row">
            {% for i in (1...12) %}
            <div class="col-md-1">
                <p>col-md-1</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>